.page-wrapper{
  height: 100vh;
  width: 100%;
}
@keyframes anim{
  from{
    background-position: 0 center;
  }
  to{
    background-position: 100% center;
  }
}
.bg-shadow{
  width: 100%;
  height: 100%;
  background: url('../img/bg-1.jpg')no-repeat center/cover;
  position: fixed; 
  right: 0;
  z-index: 0;
  animation-name: anim; 
  animation-duration: 50s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: scale(1.2, 1.2)
}

.bg-wrapper{
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.bg{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
}
.page{ 
  height: 100%;
  width: 100%;
}
a{
  width: 100%;
  font-family: sans-serif;
  color:  #fff;
  font-size: 26px;
  padding: 20px;
  margin: 5px;
  transition: background 0.5s ease-in;
  transition: opacity 0.2s ease-in;
  transition: padding 0.2s ease-in;
  opacity: 0.6;
  text-transform: uppercase;
  text-align: center;
}
li{
  text-align: center;
  border-bottom: 1px dotted #aaa;
}
li:last-child{
  border-bottom: 0 dotted #aaa;
}
a:hover{
  padding: 35px;
  background: #000;
  opacity: 0.7;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-wrapper{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.menu{
  width: 100%;
  z-index: 1;
}
.burger {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: url("../img/icon-menu.svg") no-repeat center/cover;
}
.burger-checkbox {
  display: none;
}
.burger-checkbox:checked + .burger {
  background-image: url("../img/icon-cross.svg");
}
.burger-checkbox:checked ~ .menu {
  display: block;
}

@media screen and (max-width: 700px){
  a{
    font-size: 15px;
  }
}